.VIpgJd-ZVi9od-ORHb-OEVmcd
    
div[class*="language-"] {
  background-color:black;
}

.custom_key_radius
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

.home_img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.custom_key_radius {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_radius
    position: relative;
    border-radius: 2rem 80% 2rem 2rem;

.grid_custom_flow
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
    justify-items: center;
    align-items: center;

.grid_custom_flow_home
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;

.sidebar-heading.open 
  font-weight: 600 !important
  color: inherit !important
  display: flex;
  align-items: center;
  justify-content: space-between;

p.sidebar-heading
  display: flex;
  align-items: center;
  justify-content: space-between;

.sidebar-heading.clickable
  display: flex;
  align-items: center;
  justify-content: space-between;


.page-nav .inner 
  display flex
  justify-content space-between

.page-nav .inner:not(:has(.prev)) 
  display flex
  justify-content space-between
  flex-direction: row-reverse

.page-nav {
    max-width: none !important;
    padding: 2rem 1.5rem !important;
}

// .sidebar
//   ul
//     li
//       section
//         ul
//           li
//             section
//               ul
//                 li
//                   section
//                     .sidebar-group-items:not(:has(li > ul))
//                       border-left: 4px solid rgba($codeBgColor, 0.6)

section
  ul
    li
      section
        li
          .sidebar-sub-headers
            border-left: 4px solid rgba($codeBgColor, 0.6)

.sidebar 
  ul
    li
      section
        ul
          li
           .sidebar-sub-headers
            border-left: 4px solid rgba($codeBgColor, 0.6)

.custom-block p
  margin-top:16px

.sidebar-group
  padding: 0 0 0 0;
  padding-left: 0.5em;

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1 !important;
}

.sidebar-group.is-sub-group > .sidebar-group-items > .active {
    font-size: 0.95em;
    border-left: 4px solid #903163 !important;
    border-bottom: 2px solid rgba($codeBgColor, 0.6)
}

// .sidebar-sub-headers
//   border-top: solid 2px rgba($codeBgColor, 0.6) !important


.sidebar > ul > li > section > p > .arrow 
  display none !important

.arrow.right
  border-left 6px solid #903163 !important

.arrow.down
  border-top 6px solid #903163 !important

section
  ul
    li
      section
        .sidebar-links
          border-top: solid 0px rgba($codeBgColor, 0.6) !important

.uhf-container       
{
      width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
}

section
  ul
    li
      section
        .open
          border-left: solid 4px #903163 !important

.sidebar > ul > li > section > p
  border-left-color: #903163 !important

section
    .open
      border-left-color: #903163 !important

.hero img
  max-width 450px!important

.video_container
  display: flex
  flex-wrap: wrap
  width: 100%

.video_class
  width: 100%
  margin: 10px 0px;
  border: none
  align-items: center

  
.description_video_class
  display: flex
  width: 100%
  
.webchat_img
  height: 34px

.image_center
  width 100%
  display: flex
  justify-content: center
  margin: 35px 0px



.video_embed
  width: 100%
  height: 350px

.custom-block.tip
  display flex
  flex-direction column 
  align-items flex-start

.video_description
  width: 100px

.video_container_flex
  display: flex
  flex-direction: column
  margin: 50px 0


.p_flex
  display flex
  justify-content center

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-left: 2px
}

.sidebar-heading {
    font-size: 0.95em;
    line-height: 1.4;
    //font-weight: bold !important;  
    padding-left: 2rem;
    margin-bottom: 2px;
}
        

.container_item_title
  font-size 1rem
  margin: 25px

.container_item_description
  font-size 1rem
  margin: 25px

.container_image
  height 70px
  display flex
  justify-content center
  align-items flex-start
  img
    height 50px
    padding 15px

.container_items
  padding 3.2rem 0
  margin-top 2.5rem
  display flex
  flex-wrap wrap
  align-items center
  align-content stretch
  justify-content center

.description_container
  display flex
  width 100%
  justify-content center
  h3
    width 70%
    padding 0 5em
    text-align center


.image_index_documentaion
  height 150px

.home 
  max-width 100%!important
  padding 0px!important
 
.theme-default-content:not(.custom)
  max-width 100%


.footer
  color white!important


@media (max-width 1200px)
  .video_embed
    width: 100%
    height: 100%

  .site-name
    font-size .7em!important

  .grid_custom_flow 
    grid-template-columns: 1fr 1fr;
  

@media (min-width: 1200px)
  .video_embed
    width: 50%

  .site-name
    
    font-size 1em!important  

  .theme-default-content:not(.custom) img
    max-width 50%




.timeline_area {
    position: relative;
    z-index: 1;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 100px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
    .grid_custom_flow {
      grid-template-columns: none;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}

.single-timeline-area::after {
    position: absolute;
    width: 100%;
    height: 3px;
    content: "";
    background-color: #ebebeb;
    top: 0;
   
    z-index: 1;
}

.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #903163;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
    min-height:190px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}
.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
    background-color: #903163;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color:#903163;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: #903163;
}