
// $font-primary: 'Nunito', sans-serif;
$font-primary: 'Open Sans', sans-serif;

$text-primary: #762851;
$text-dark: #363636;
$text-muted: #535353;
$text-light: #a6aaad;
$white: #ffffff;


$box-shadow: 0 10px 30px 5px rgba(118, 40, 81, .06);
// $box-shadow-primary: 0 0.5rem 1rem rgba(1, 164, 121, .30);
$box-shadow-primary: 0 0.5rem 1rem rgba(54, 54, 54, .30);
$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);


$transition-base: all 0.5s ease-in-out 0s;


$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
$font-weight-800: 800 !default;
$font-weight-900: 900 !default;


$border-primary:  #762851;
$border-light:  #d5e0f2;
$border-dark:  #43434d;
$border-rounded: 50%;
$border-rounded-100: 100%;

$bg-primary: #762851;
// $bg-dark: #1e1d2d;
$bg-dark: #363636;
$bg-light: #fcfbf7;